<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cabiver</title>

    <link rel="stylesheet" href="css/cuentas/animaciones/animacionesCuentas.css">

    <link rel="stylesheet" href="css/servis/variables.css">
    <link rel="stylesheet" href="css/servis/center.css">
    <link rel="stylesheet" href="css/servis/normalize.css">
    <link rel="stylesheet" href="css/servis/flexbox.css">
    <link rel="stylesheet" href="css/cuentas/cuentas-css.css">
    <link rel="stylesheet" href="css/cuentas/imagenes.css">
    <link rel="stylesheet" href="css/cuentas/userController.css">
    <link rel="stylesheet" href="css/cuentas/navegacion.css">
    <link rel="stylesheet" href="css/cuentas/ventanaDePost.css">
    <link rel="stylesheet" href="css/cuentas/buscador.css">
    <link rel="stylesheet" href="css/cuentas/vistaDePost.css">
    <link rel="stylesheet" href="css/cuentas/portadaUsuario.css">
    <link rel="stylesheet" href="css/cuentas/ResponsiveAllCuentas.css">
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


</head>


<header id="Header">

    <body>
        <div class="gridChangeBackground" id="main-cuentas.js-detectar-click-para-cambiar-background" style="display: none;">
            <div class="div-cerrar" id="main-cuentas.js-detectar-click"> 
                <img class="div-cerrar__x" src="images/close-x.png" alt=""> 
            </div>

            <div class="div-change-center-background">
                <form class="div-change-center-background__form" id="main-cuentas.js-form-del-background" action="">
                    <input id="backgroundFile" type="file" style="display: none;" name="image">
                    <label for="">cambia de fondo aqui</label>
                    <label class="buttonLable" for="backgroundFile">subir</label>
                    <img class="div-change-center-background__render-background" id="main-cuentas.js-renderizar-background" src="" alt="">
                    <button>enviar fondo</button>
                    <label id="main-cuentas.js-respuesta-de-la-peticion"></label>
                </form>
            </div>

        </div>

        <div class="cabecera" id="Mains.js-calcular_y_asignar_width_a_la_cabecera_y_detectar_click">
            <div id="Mains.js-calcular_distancia_y_esperar_click">
                <div class="separadorDeCabecera" id="iconoDeLaPagina">
                    <img class="icono js-detectar_cuando_carge" src="images/camille-300x300.png" alt="">
                </div>
            </div>
            <div id="Mains.js-referencia_para_calcular_la_pocision_de_la_lupa-barra_de_busqueda-div_barra_busqueda">
                <form class="barraDeBusqueda" id="Mains.js-variable_para_el_posicionamiento_de_la_lupa-form_busqueda">
                    <input class="inputs-text-sin-mamadas div-dentro-de-barra-de-busqueda" id="Mains.js-variable_de_posicionamiento" autocomplete="off" name="usuarios" action="" type="text">
                    <button class="fit-height" id="Main.js-posicionar_la_lupa">
                        <img class="icono-lupa" id="lupa" src="images/lupa.png" >
                    </button>
                  
    
                </form>
                <div style="display: flex; justify-content: center;">
                    <div class="divRecomiendaciones" id="Mains.js cuentas.js-posicionamiento_y_actualizacion_de_peticiones_de_recomendados"></div>
                </div>
                
            </div>

                <div class="div-perfil-tuyo" id="Mains.js-div_de_tu_perfil_para_ajustar_barra_de_busqueda">
                    <div class="separadorDeCabecera div-icono-de-usuario" id="Mains.js-agregar_eventos_que_desplegue_opciones_de_usuarios">
                        <div class="MainsJS-arrays_de_iconos_para_volverlos_cuadrados iconPerfil">
                            <img class="iconoPrincipal"  src="<%= icon %>">
                        </div>
                        
                        <div class="nombre">
                            <%= name.length>7?`${name.substr(0,7)}...`:name %>
                        </div>
                    </div>
        
                </div>
            
            
        </div>

        <div class="Flex-navegador-user" id="Mains.js-pesplegar-opciones-de-sesion" style="display: none;">
            <button class="p-de-navegador" id="Mains.js-detectar-click-ir-a-tu-sitio-web">Ir a mi sitio web</button>
            <button class="p-de-navegador" id="Mains.js-detectar-click-eliminar-cookies">cerrar Sesion</button>
        </div>

</header>

<!-- 
<div id="border-para-posts" class="postPaginas" style="display:none">
        <div id="contenido-del-post">

        </div>
        <div id="comentarios-del-post">

        </div>
</div> -->

<div class="containerUser">
    <div class="difuminado-background background-height">
        <%- backgroundDifuminado %>
    </div>
    <div class="divrCamaraIcono" id="Main-cuentas.js-para_posicionar_la_camara_del_background">

        <div class="divrCamaraIcono--div-background" id="Main-cuentas.js-comparador_de_tamaño_para_posicionarlo">
                <div class="divrCamaraIcono__plus-camara-div">
                    <img class="divrCamaraIcono__img" src="images/mas.png" alt="">
                </div>
                <div class="camara-background feedCamara">
                    <img class="imagen-de-camara" id="changeBackground" src="images/camara.png" alt="">
                </div>
        </div>


    </div>


    <div class="background background-height" id="Mains.js-para_hacer_margin_top">

        <div class="div-image-background" id="div-image-background">

            <%- extencion %>


        </div>


    </div>

    <div class="divrCamaraIcono" id="Main-cuentas.js-dezplegar-form-cambiar-icono">
        <div class="divrCamaraIcono__plus-camara-div">
            <img class="divrCamaraIcono__img" src="images/mas.png" alt="">
        </div>
        <div class="camara-background-icono feedCamara">
            <img class="imagen-de-camara" id="changeBackground" src="images/camara.png" alt="">
        </div>
    </div>

    <div id="FLEXperfilUser" class="FLEXperfilUser">
        <div class="FLEXBOX ALIGN-ITEMS boxUser">

            <div  class="icono-press iconPerfil MainsJS-arrays_de_iconos_para_volverlos_cuadrados" id="Main-cuentas.js-operador_para_posicionar_la_camara-icono">

                <img class="iconoPrincipal" src="<%= perfil %>" alt="">
            </div>
            <div class="perfilName">
                <%= user %>
            </div>
        </div>

    </div>
    <form class="superponer text-claro change-icon" action="" style="display: none;" id="main-cuentas.js-formulario_para_cambiar_icono">
        <div class="flexCenter">
            <input style="display: none;" id="iconImag" name="image" type="file">
            <label class="text-change-icon " for="">quieres cambiar el icono de tu perfil?</label>
            <label class="buttonLable" for="iconImag">subir icono</label>
            <img class="renderIcono" id="main-cuentas-js-renderizar-icono" src="" alt="">
            <label class="resultIcono" id="resultIcono" for=""></label>
            <button class="enviarIcon ">enviar icono</button>
        </div>

    </form>

</div>

<div class="bak" id="full">

    <div class="FLEXBOX JUSTIFY-CONTENT">

        <div class="container">
            <form id="main-cuentas.js-formulario_subir_post" class="form-img" enctype="multipart/form-data">
                <input style="display: none;" id="main-cuentas.js-detectar-cambio-de-imagen" type="file" name="image">
                <label class="buttonLable " for="imgFile">sube una imagen</label>
                <div class="load-imge" id="main-cuentas.js-div_renderisa_pre_prost">
                    <div id="barra-de-carga"></div>
                    <video class="render-de-video pc" id="loadVideo" src=""></video>
                    <img  class="render-de-imagen precentacion image pc" id="main-cuentas.js-imagen_para_renderiar" src="" alt="">
                </div>
                <video id="loadVideoMobile" class="render-de-video-mobile" src=""></video>
                <img id="imagMobile" src="" alt="" class="render-de-image-mobile image mobile">
               
                <p class="INLINE-BLOC">agrega una description</p> 
                 <input class="desc" autocomplete="off" type="text" name="description"> 
                <button class="sendbutton">subir Post</button>
            </form>
    
        </div>
    </div>
    
    <div class="marco" id="Mains.js-div-donde-colocaras-los-post">
    
    </div>
    <div class="FLEXBOX JUSTIFY-CONTENT">
        <div class="div-para-marco FLEXBOX ALIGN-ITEMS" id="mains.js-limite-fotos" style="display: none;">
            <p class=" fuente">ya no hay mas fotos?</p>
        </div>
    </div>
    
    <div style="height: 15px;" id="Mains.js-detectar-cuando-es-observado"></div>
</div>

<script src="scripts/cuentas/main-cuentas.js"></script>


</body>

</html>